
<div class="container m-3 p-3   text-left ">
  <div class="row">
    <div class="col bg-light p-2">
      <h2><%= @troop.trooptype %>:</h2>
    </div>
    <div class="col bg-light p-3 ">
      <a><%= @troop.name %></a>
    </div>
    <div class="col bg-info  m-1 p-1">
      <a class="text-white ">Ветераны</a>
    </div>
    <div class="col bg-info  m-1 p-1">
      <a class="text-white ">Состав <%= @troop.trooptype %> </a>
    </div>
    <% unless @troop.parent.nil? %>
      <div class="col bg-info  m-1 p-1">
        <a class="text-white ">Входит в состав</a>
      </div>
    <% end %>
  </div>
  <div class="row py-3">
    <div class="col bg-light">
      <h2>Описание:</h2>
    </div>
    <div class="col bg-light">
      <a><%= @troop.description %></a>
    </div>
    <div class="col bg-light m-1 p-1">
      <% @allreferencetroops.each_with_index do |troop, i| %>
        <% troop.veterans.each do |veteran| %>
          <%= link_to veteran.lastname + " " + veteran.name + " " + veteran.surname, controller: "veteran", action: "show", id: veteran.id %>
          <% if i != @troop.descendants.count - 1 %>  <br> <% end %>
        <% end %>
      <% end %>

      <br>
    </div>
    <div class="col bg-light m-1 p-1">
      <% @troop.children.each do |troop| %>
        <%= link_to troop.name, controller: "troop", action: "show", id: troop.id %><br>
      <% end %>
    </div>
      <% unless @troop.parent.nil? %>
        <div class="col bg-light m-1 p-1">
          <%= link_to @troop.parent.name, controller: "troop", action: "show", id: @troop.parent.id %><br>
        </div>
      <% end %>
  </div>

</div>
