<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Скованные одной целью</h1>
    <p class="lead text-muted">Загрузите фотографию ветерана и получите акции от пратнеров!</p>
    <p>
      <a href="veteran/new" class="btn btn-primary my-2">Добавить ветерана</a>
      <a href="troops" class="btn btn-secondary my-2">Просмотреть альбом</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <% @veterans.each do |veteran| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="40" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <% if veteran.photo.url == "/photos/original/missing.png" %>
               <img src="https://sun9-43.userapi.com/c205528/v205528453/cd1de/hv4Elw-Tlk4.jpg" width="300">
              <% else %>
               <img src="<%= veteran.photo.url %>" width="200" height="250" hspace = "70" >
              <% end %>
                </svg>
                  <div class="card-body text-center">
                    <p class="card-text"><%= veteran.lastname %> <%= veteran.name %> <%= veteran.surname %></p>

                    <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-sm btn-outline-secondary text-center mx-auto">
                        <%= link_to "Подробнее", controller: "veteran", action: "show", id: veteran.id %><br></button>
                    </div>
                  </div>
                </div>
              </div>
      <% end %>
    </div>
  </div>
</div>
