<h1 class="m-3 p-3">Личный кабинет</h1>
<div class="container w-50 m-3 p-3 bg-light">
<div class="row">
  <div class="col">
  <h2 class="">Информация</h2>
    <a class="">Имя пользователя :</a>
    <% if @user.socialtype == "vk" %>
      <a href="https://vk.com/id<%= @user.socialid %>"><%= @user.name %></a>
    <% elsif @user.socialtype == "od" %>
      ....
    <% end %>
    <br>
    <% if get_user[:id] == @user.id %>
      Поделиться с друзьми: <%= link_to request.host + "/" + @user.id.to_s, controller: "index", action: "index", id: @user.id %><br>
      <a class="">Накопленные баллы :</a>
      <a><%= @user.score %></a>
    <% end %>
    </br>
  </div>
  <div class="class=col">
  <% if get_user[:id] == @user.id %>
    <a class="m-3 p-3">Приглашенные друзья:</a>

    <div class="m-3 p-3">
      <% @user.children.each do |user| %>
        <%= link_to user.name, controller: "user", action: "show", id: user.id %>
        <% if user.veterans.where(moderated: true).first.nil? %>
          Еще не отправил ни одного фото
        <% else %>
          Сделал свой вклад. Получено 50 баллов
        <% end %>
      <% end %>
    </div>

    <%= link_to "Выйти из аккаунта", controller: "user", action: "signout" %>
  <% end %>
  </div>

  <% unless @user.veterans.first.nil? %>
  <div class="class=col">
    <a class="m-3 p-3">Сделал вклад в данные материалы:</a>

    <div class="m-3 p-3">
      <% @user.veterans.each do |veteran| %>
        <%= link_to veteran.lastname + " " + veteran.name + " " + veteran.surname, controller: "veteran", action: "show", id: veteran.id %>
      <% end %>
    </div>

    <%= link_to "Выйти из аккаунта", controller: "user", action: "signout" %>
  </div>
    <% end %>
</div>
</div>
