<h1 class="m-3 p-3">Личный кабинет</h1>
<div class="container w-50 m-3 p-3 bg-light">
<div class="row">
  <div class="col">
  <h2 class="">Информация</h2>
    <a class="">Имя пользователя :</a>
    <% if @user.socialtype == "vk" %>
      <a href="https://vk.com/id<%= @user.socialid %>"><%= @user.name %></a>
    <% elsif @user.socialtype == "od" %>
      <a href="https://ok.ru/profile/id<%= @user.socialid %>"><%= @user.name %></a>
    <% end %>
    <br>
    <a class="">Накопленные баллы :</a>
    <a><%= @user.score %></a>
    </br>
  </div>
  <div class="class=col">
  <a class="m-3 p-3">Приглашенные друзья:</a>

  <div class="m-3 p-3">
    <% @user.children.each do |user| %>
      <%= link_to user.name, controller: "user", action: "show", id: user.id %>
    <% end %>
  </div>

  </div>
</div>
</div>
